
.menustyle{
  //position: fixed;
  bottom: 0px;
  //left: 0px;
}

.infoDiv{
  //right: 0px !important;
  //bottom: -100%
  transform: none !important;
  //inset: auto !imortant;
  //inset: 0px !important;
  //transform: translate3d(0, -275%, 0)!important;
  //transform: translateX(0) translateZ(0);
  //inset: auto 0px 0px 0px !important;
  //position: relative;
}

.buttonborder{
  border: none;
  border-radius: 0px;
  margin: 0px;
}

.navGrid{
  display: grid !important;
  grid-template: minmax(0, 1fr) /  repeat(5, minmax(0, 1fr));
}
