.bottombannerbg{
  content: url("https://github.com/igeller/assets/blob/main/Assets/Mobile/Banners/Africa-Mobile-Banner-Bottom.png?raw=true");
  background-repeat: repeat-x;
  width: 100%;
  bottom: 0px;

  @media only screen and (min-width: 768px) {
    content: url("https://github.com/igeller/assets/blob/main/Assets/Kiosk/Banners/Africa-Kiosk-Banner-Top.png?raw=true");
  }
}

//duplicate for the larger sizes
