.modalContent{
  max-height: 75% !important;
  overflow-x: hidden;
  //overflow-y: scroll;
}

.modalContentText{
  color:black;
  overflow-y: scroll;
  //min-height: 50vh;
  //position: relative;
}


