
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html{
  //min-height: 100%;
  //box-sizing: content-box;
  body {
    text-align: center;
    background-color: black;
    //overflow-y: scroll;

    .loweLogo{
      display: block;
      content: url("https://github.com/igeller/assets/blob/main/Assets/Mobile/Logos/Africa-Mobile-Logo-Lowe.png?raw=true");
    }
    .mellonLogo{
      display: block;
      content: url("https://github.com/igeller/assets/blob/main/Assets/Mobile/Logos/Africa-Kiosk-Mobile-Mellon.png?raw=true")
    }

  }
  a {
    color: inherit;
    text-decoration: none;
  }
}



* {
  font-family: -apple-system, Helvetica Neue, sans-serif;
  background-color: inherit;
  color: white;
  text-align: inherit;

}


//@media only screen and (min-width: 768px) {
//  .loweLogo{
//    display: block;
//    content: url("https://github.com/igeller/assets/blob/main/Assets/Kiosk/Logos/Africa-Kiosk-Logo-Lowe.png?raw=true");
//  }
//  .mellonLogo{
//    display: block;
//    content: url("https://github.com/igeller/assets/blob/main/Assets/Kiosk/Logos/Africa-Kiosk-Logo-Mellon.png?raw=true")
//  }
//}

@media only screen and (min-width: 900px) {
  html{
    //width: 900px !important;
    margin: 0 auto;
  }
  .loweLogo{
    display: block;
    content: url("https://github.com/igeller/assets/blob/main/Assets/Kiosk/Logos/Africa-Kiosk-Logo-Lowe.png?raw=true");
  }
  .mellonLogo{
    display: block;
    content: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FImage&psig=AOvVaw17rztXHAnh5c7ciUp5HqOb&ust=1614129142316000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCGvuPp_u4CFQAAAAAdAAAAABAD")
  }
}
