@import '_definitions.scss';

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html{
  height: 100% !important;
  margin: 0 auto !important;
  box-sizing: border-box;

  body {
    text-align: center;
    background-color: black;
    //overflow-y: hidden;
    height: 100%;
    box-sizing: content-box;
    margin: 0 auto !important;


    .loweLogo {
      display: block;
    }

    .mellonLogo {
      display: block;
    }

    a {
      color: inherit;
      text-decoration: none;
    }


    .gridHolder {
      margin: 0 auto !important;
      display: grid !important;
      grid-auto-rows: 1fr;
      alignment: center;
      //grid-template-rows: 1fr 28fr 1fr;
      max-height: 100vh !important;
      min-height: 100vh !important;
    }

    .topOfGrid {
      grid-row: 1 / 1;
      align-self: center !important;
    }

    .middleOfGrid {
      overflow: scroll !important;
      grid-row: auto/ span 28;
      min-height: 0px;
      max-height: 100%;
      display: flex;
      flex-direction: column !important;
      width: 100% !important;
    }

    .bottomOfGrid {
      grid-row: 30 / 30;
      align-self: end !important;
    }

    * {
      font-family: -apple-system, Helvetica Neue, sans-serif;
      background-color: inherit;
      color: white;
      text-align: inherit;
      max-width: 100% !important;
      @include screen('lrgr'){max-width: 900px !important;};
      margin: auto;
    }
  }
}









