

  .btn {
    background-color: transparent !important;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
    //background-color: chartreuse !important;
  }

 .organizationImgs{
   display: inline-grid;
   grid-auto-flow: column;
   align-items: center;
   
   .img{
     margin: 0px;
   }
 }
 
.title{
  font-weight: bold;
}


  .titleSection{
    position: relative;
  
    .centerText{
      width: 100vw;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
 
  
  //.homepageButtons{
  //  display: grid !important;
  //  grid-gap: 1vh;
  //  column-span: 3;
  //}


//.bodyOvrflw{
//  overflow: scroll;
//  grid-row: auto/ span 28;
//  min-height: 0px;
//
//}
.grd{
  display: inline-grid;
}
.sectionDiv{
  display: grid;
  grid-template-rows: 1fr;
  //color: green !important;
}
