

  .btn {
    background-color: transparent !important;
    border-color: white;
    border-width: 6px;
    font-weight: bold;
  }

.title{
  font-weight: bold;
}

.bodyOvrflw{
  overflow-y: scroll;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

}
